<div class="cards-container">
    {{#each arrayOfAlbums}}
    <div class="card">
        <img class="image" src="{{this.images.1.url}}" alt="{{this.name}}">
        <h2>{{this.name}}</h2>
        <a class="btn-bottom" href="/tracks/{{this.id}}"><button class="btn">Tracks</button></a>
    </div>
    {{/each}}
</div>