<div class="search-container">
    <form class="form" action="/artist-search" method="GET">
        <input class="input" placeholder="Search your artist" name="artist" type="text">
        <button class="btn">Search for artists</button>
    </form>
</div>